.banner{
    background-image: url(/src/image/unsplash_bpPTlXWTOvg.png);
    background-color: rgba(13, 13, 13, 0.85);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem 5rem 1.5rem 5rem;

    margin-top: 5em;
    
}

.banner_con{
    display: flex;
    justify-content: space-between;
    margin-block: 2em;
}

.banner_con div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 15em;
}

.banner_con div p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.banner_con div h3{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

@media screen and (max-width: 930px) {
    .banner_con{
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner_con div{
        margin-top: 1em;

    }
}

@media screen and (max-width: 500px){
    .banner{
        padding: 1.5rem 2rem 1.5rem 2rem;
    }

    .banner_con div p{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0.1em;
    }

    .banner_con div h3{
        font-weight: 500;
        font-size: 30px;
        line-height: 25px;
        margin-top: 0.1em;
        margin-bottom: 1em;
    }
}


