.faq{
    padding: 1.5rem 5rem 1.5rem 5rem;  
    background-color: #fff;
    color: black;
}

.faq h3{
    color: var(--gray-1, #333);
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.faq_p{
    color: var(--gray-2, #4F4F4F);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 2em;
}

.faq_sec{
    display: flex;
    justify-content: center;    
}

.faq_sec div:nth-child(1){
    border-radius: 8px;
    background: var(--Secondery-color, #FAF7F2); 
    margin-right: 1.5em;
    margin-block-start: 0.5em;
    padding: 0.5em;
} 

.faq_sec div:nth-child(2){
    border-radius: 8px;
    background: var(--Secondery-color, #FAF7F2); 
    margin-block-start: 0.5em;
    padding: 0.5em;
} 

.faq_sec p {
    color: var(--Gray-2, #4F4F4F);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.faq_sec h4{
    display: flex;
    justify-content: space-between;
    margin-block: 0.5em;
    color: var(--Gray-1, #333);
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.showe{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.hide{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .faq h3{
        font-size: 35px;
    }

    .faq_sec{
        flex-direction: column;
    }

    .faq_sec div:first-child{
        margin-right: 0.1em;
    }
}

@media screen and (max-width: 500px){
    .faq h3{
        font-size: 25px;
        line-height: 30px;
    }

    .faq{
        padding: 1.5rem 2rem 1.5rem 2rem;
    }
}
